@using Microsoft.AspNetCore.Identity
<!DOCTYPE html>

@inject SignInManager<IdentityUser> signInManager

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <environment include="Development">
        <link href="~/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet"
              asp-fallback-href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap-grid.css"
              asp-fallback-test-class="sr-only"
              asp-fallback-test-property="position"
              asp-fallback-test-value="absolute" />
    </environment>

</head>
<body>
    <!-- As a link -->
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>

        @if (signInManager.IsSignedIn(User))
        {
            //登录则显示登出按钮
            <form asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a href="javascript:document.getElementById('logoutForm').submit()">登出</a>
                    </li>
                </ul>
            </form>
        }
        else
        { <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a asp-controller="Account" asp-action="Register">注册</a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Account" asp-action="Login">登录</a>
                </li>

            </ul>
        }
    </nav>
    <h1>
        布局页
    </h1>
    <div>
        @RenderBody()
    </div>
    <div>
        @RenderSection("Footer", required: false)
    </div>
    <environment include="Development">
        <script src="~/node_modules/jquery/dist/jquery.js"></script>
        <script src="~/node_modules/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/node_modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js"></script>
    </environment>

</body>
</html>
