@model RegisterViewModel


<h2>注册</h2>

<form asp-action="Register" asp-controller="Account" method="post">
    <div>
        <label asp-for="UserName"></label>
        <input asp-for="UserName" />
        <span asp-validation-for="UserName"></span>
    </div>
    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <input type="submit" value="提交" />
    </div>
    <div asp-validation-summary="All">
    </div>
</form>
