@model StudentViewModel


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <ul>
        @*@Html.Partial("_StudentTable",Model)*@
        <partial name="_StudentTable" for="@Model" />
        @*@foreach (var s in Model.Students)
        {
            <li>
                Name：@s.Name (Age：@s.Age)
                <a asp-action="Detail" asp-route-id="@s.Id">明细 TagHelper</a>
            </li>
        }*@
    </ul>
    @section Footer
        {
        <div>
            <a asp-action="Create">添加</a>
        </div>
    }
    @*@await Component.InvokeAsync("Welcome")*@
    <vc:welcome></vc:welcome>
</body>
</html>
